<h1>Hello Angular 12</h1>
<p>Angular 12 представляет модульную архитектуру приложения</p>
<textarea>
    {{testVar}}
    <br/>
    {{count}}
</textarea>
<p *ngIf="condition;else unset">
    Привет мир
  </p>
  <ng-template #unset>  
    <p>Пока мир</p>  
  </ng-template>   
  <button (click)="toggle()">Toggle</button>
<data-comp></data-comp>

<input type ="text" [(ngModel)]="exportValue"/>
<p bold>Test bold</p>
<label>{{tempName}}</label>
<table border="1">
    <tr><td [attr.colspan]="colspan">One-Two</td></tr>
    <tr><td>Three</td><td>Four</td></tr>
    <tr><td>Five</td><td>Six</td></tr>
</table>

<p *while="condition">
    Первый параграф
  </p>
  <p *while="!condition">
    Второй параграф
  </p>
  <li *ngFor="let item in users">
    <p>Имя пользователя: {{item?.name}}</p>
    <p>Возраст пользователя: {{item?.age}}</p>
        
  </li>
  <p>Имя пользователя: {{user?.name}}</p>
  <p>Возраст пользователя: {{user?.age}}</p>
  {{user?.age}}

<child-comp><h2>Добро пожаловать {{name}}!</h2></child-comp>
<button (click) ="increase($event)">Click</button>
<div><input [(ngModel)]="name" placeholder = "Модель" />
    <button (click)="addItem(name)">Добавить</button>
</div>
<table>
    <tr *ngFor="let item of items">
        <td>{{item}}</td>
    </tr>
</table>
<data-comp></data-comp>
<data-comp></data-comp>

<div>
    <p [bold] selectedSize="28px" [defaultSize]="'14px'">Hello Angular</p>
    <p>Directives' params</p>
 </div>